h1{
 font-size: 50px;   
}
.color-orange{
    color: rgb(238, 171, 46);
}
.bordar{
    border-left: 5px solid red;
    line-height: 40px;
    padding-left: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
p{
    font-size: 30px;
}
.link-explore{
    text-decoration: none;
    color: white;
    background-color: rgb(197, 71, 71);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.blue-color{
    color: rgb(36, 36, 87);
    text-align: center;
}
.year{
    color: orange;
}

